.span-10
  = image_tag('/images/floxee-logo.png', :class => 'logo')
  &nbsp;
.span-14.last
  %h1 Meet Floxee.
  %h2 A directory for the birds.
  %p
    Build your own searchable list of 
    = link_to 'Twitter', 'http://twitter.com'
    accounts for your company, organization, school, or bird watching club!
  %p.follow-us
    = image_tag('/images/birds/64x64/plain.png', :alt => 'Floxee bird')
    Be sure to follow
    = link_to '@floxee', 'http://twitter.com/floxee'
    on Twitter!
%br.clear