%h3= header
%ol.ranking
  - tweeters.each do |tweeter|
    - total = tweeter.send(stat_field.to_sym)
    %li= detail_link_for_user(tweeter, "#{tweeter.display_name} (#{number_with_delimiter(total)})")
