%h1= t("editing_person")

- form_tag(admin_person_path(@person.id), :method => :put, :class => 'detail') do
  = render :partial => 'form'
  .form-buttons
    %button.primary= t('save_person')
    %a.button.cancel{:href => admin_people_path} cancel
